body{
	display: flex;
	height: 100vh;
	width: 100vw;
	margin: 0;
    font-size:16px;
	background-color: #7464AD;
  
	
}
.grab {cursor: -webkit-grab; cursor: grab;}
.grabbing {cursor: -webkit-grabbing; cursor: grabbing;}

.lside-column{
	display: block;
	height: 100%;
	width: 20%;
	justify-content: center;
	align-items: center;
	
}
	
.rside-column{
	display: block;
	height: 100%;
	width: 20%;
	justify-content: center;
	align-items: center;
	
}
	
.big-column{
	display: flex;
	height: 100%;
	margin-bottom:0;
	width:80%;
	background-color:#C71585;
}


.box{
	display: flex;
	height: 50%;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.box2{
	display: flex;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
}

.skinny-col{
	display: block;
	height: 100%;
	width: 25%;
	
}

.s-box {
	display: flex;
	height: 25%;
	width: 100%;

	
}



.pink{
	background-color:#C71585;
}

.green{
background-color: #4CAF50;
}

.blue{
	background-color:008B;
}

.light-blue{
	background-color:#add8e6 ;
}

.black {	background-color:#000;
}

.red {	background-color:#B22222;
}

.orange{
    background-color: darkorange;
}
.grey{background-color: #808080;
}
.white {background-color: #fff;

}
.quartz {background-color: #51484f;

}.ultramarine {background-color: #120a8f;

}.ebony {background-color: #555d50;

}.ecru {background-color: #c2b280;

}.napier {background-color: #2a8000;

}

/*.play-again {
    background-color: #000;
    display: block;
    margin: auto;
    width: 50%;
    
}*/
/*.center-content {
	display: block;
	align-items: center;
	justify-content: center;
}*/
.restrict-content {
	max-height:99%;
	max-width:99%;
}


	
button{
	height: 25%;
	width:50%;
	  display: inline-block;
  border-radius: 4px;
  background-color: darkred;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
	
	font-family:  "Times New Roman", Times, serif;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
div{
	text-align: justify;
}

/*.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  padding: 16px;
}

.sticky + .content {
  padding-top: 60px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #800080;
}
#navbar {
 background-color: #000;
    overflow: hidden;
}

#navbar a{
	float:left;
	display:block;
	color:white;
	text-align:center;
	padding:14px;
	text-decoration:none;
}

/* Add a black background color to the top navigation 
.topnav {
    background-color: #000;
    overflow: hidden;
}

/* Style the links inside the navigation bar 
.topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover 
.topnav a:hover {
    background-color: #800080;
    color: black;
}

/* Add a color to the active/current link 
.topnav a.active {
    background-color: #A91BE0;
    color: white;
}
	*/
/*https://css-tricks.com/
	http://overapi.com/css
	https://css-tricks.com/almanac/properties/d/display/ */